<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Lottery Boss" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="title-bar" id="example-menu">
      <div class="title-bar-left">
        <span class="title-bar-title">Lottery Boss</span> <span class="subheader">beta</span>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
